body {
    position: absolute;
    background-color: white;
}

h1 {}



proofs {
    display: flex;
    align-items: flex-end;
    
}

proof {
    display: inline-block;
    margin-left: 4px;
    margin-right: 8px;
    margin-top: 8px;
    
}



content {
    display: inline-grid;
    border-radius: 16px;
    margin: 4px;
    
}

proofs > content {
    background-color:rgba(255, 128, 128, 0.2);
}

infer {
    border-top: solid 1px black;
    padding: 8px;
    display: block;
    text-align: center;
}

buttonDevelop {
    padding: 8px;
    display: block;
    text-align: center;
    cursor: pointer;
}



info {
    padding:4px;
    margin: 4px;
    background: rgb(0, 128, 0);
    color: white;
    cursor: pointer;
}

assumption {
    background: rgba(255, 255, 128, 0.5);    
    border-radius: 8px;
    padding: 8px;
    margin: 6px;
    display: block;
    text-align: center;
}

