body {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

h1 {}


sprite {
    position: absolute;
}

scene {
    position: absolute;
    width: 640px;
    height: 480px;
    visibility: hidden;
    background-color: white;
}

proofs {
    display: flex;
    align-items: flex-end;
}

proof {
    display: inline-block;
    margin-left: 4px;
    margin-right: 8px;
}

infer {
    border-top: solid 1px black;
    display: block;
    text-align: center;
}